<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>com.pankaj.servlet.LoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>POSAction</servlet-name>
        <servlet-class>com.pankaj.servlet.POSAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAction</servlet-name>
        <servlet-class>com.pankaj.servlet.ShowAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieAction</servlet-name>
        <servlet-class>com.pankaj.servlet.MovieAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteAction</servlet-name>
        <servlet-class>com.pankaj.servlet.SiteAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>POSAction</servlet-name>
        <url-pattern>/POSAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAction</servlet-name>
        <url-pattern>/ShowAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieAction</servlet-name>
        <url-pattern>/MovieAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteAction</servlet-name>
        <url-pattern>/SiteAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
